@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

/* NAV */
.header__box {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.header__ul {
    display: flex;
    list-style: none;
    position: absolute;
    gap: 40px;
}
.ul__list {
    padding: 10px;
}
.list__link {
    color: #fff;
    border-bottom: 3px solid transparent;
    transition: border 0.3s, color 0.3s;
    font-size: 1.75rem;
}
.link--active {
    padding-bottom: 4px;
    border-bottom: 2px solid #6556b7;
    color: #6556b7;
}


.list__link:hover {
    padding-bottom: 3px;
    color: #6556b7;
    border-bottom: 2px solid #6556b7;
}

.link--tienda:hover {
    border: 1px solid #6556b7;
}

@media(max-width:995px) {
    .header__box {
        display: none;
    }
}

/* Navegación tlf*/

.menu-container {
    position: absolute;
}

.menu-label {
    display: none;
}

.menu-label input[type="checkbox"] {
    display: none;
}


.hidden-buttons {
    display: none;
    margin-top: 10px;
}

.header__ul--tlf {
    width: 9.5rem;
    list-style: none;
    gap: 40px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 3px #aaa;
    z-index: 40;
}

.list__link--tlf {
    color: #fff;
    border-left: 3px solid transparent;
    transition: border 0.5s, color 0.3s;
}
.link--active-tlf {
    padding-left: 6px;
    border-left: 2px solid #6556b7;
    color: #6556b7;
}
.list__link--tlf:hover {
    padding-left: 6px;
    border-left: 2px solid #6556b7;
    color: #6556b7;
}


@media(max-width:995px) {
    .menu-container {
        position: absolute;
        padding: 15px 10px;
    }
    
    .menu-label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    
    .menu-label input[type="checkbox"] {
        display: none;
    }
    
    .icon-box {
        width: 1.5rem;
        color: #aaa;
        height: 1.60rem;
        border: 1px solid #fff;
        background-color: #222;
        border-radius: 4px;
        scale: 2;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        transition: all 0.3s;
        margin: 10px 10px;
    }
    
    .menu-label input[type="checkbox"]:checked + .icon-box {
        border-color: #6556b7;
    }
    
    .menu-label input[type="checkbox"]:checked + .icon-box i {
        color: white;
    }
    
    .hidden-buttons {
        display: none;
        margin-top: 10px;
    }
    
    .menu-label input[type="checkbox"]:checked ~ .hidden-buttons {
        position: absolute;
        top: 60px;
        left: 20px;
        display: flex;
        flex-flow: column wrap;
        scale: 1.2;
        z-index: 20;
    }
}

/* Parte Body */

section{
    padding: 5rem 9% 5rem;
}

/* Descripción */

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #6556b7;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
    animation: escribir 2s steps(31) forwards,
    cursor 0.4s step-end infinite alternate;
}

@keyframes escribir {
0% { clip-path: polygon(0 0, 0 0, 0 100%, 0 100%); }
100% { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
}

@keyframes cursor {
50% { border-color: transparent; }
}

.home-img img{
    position: relative;
    width: 24vw;
    border-radius: 40%;
    box-shadow: 0 0 5px #6556b7;
    animation: moveLeftRight 3s ease-in-out;
}

@keyframes moveLeftRight {
    0% {
        transform: translateX(-450px);
    }
    50% {
        transform: translateX(0px);
    }
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #6556b7;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #6556b7;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #6556b7;
    box-shadow: 0  0 25px #6556b7;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #6556b7;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #6556b7;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #6556b7;
    color: black;
    box-shadow: 0 0 25px #6556b7;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "Developer";
    color: #6556b7;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #6556b7;
    }
}

@keyframes words{
    0%, 20%{
        content: "Developer";
    }
    21%, 40%{
        content: "Web Designer";
    }
    41%, 60%{
        content: "TikToker";
    }
    61%, 80%{
        content: "Streamer";
    }
    81%, 100%{
        content: "Mc Developer";
    }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 50vw;
        margin-top: 4rem;
    }

    .home .home-content h1{
        font-size: 4rem;
    }

    .home-content h3{
        font-size: 3rem;
    }
}

