@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

a {
    color: #fff;
}

/* NAV */
.header__box {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.header__ul {
    display: flex;
    list-style: none;
    position: absolute;
    gap: 40px;
}
.ul__list {
    padding: 10px;
}
.list__link {
    color: #fff;
    border-bottom: 3px solid transparent;
    transition: border 0.3s, color 0.3s;
    font-size: 1.75rem;
}
.link--active {
    padding-bottom: 4px;
    border-bottom: 2px solid #6556b7;
    color: #6556b7;
}


.list__link:hover {
    padding-bottom: 3px;
    color: #6556b7;
    border-bottom: 2px solid #6556b7;
}

.link--tienda:hover {
    border: 1px solid #6556b7;
}

@media(max-width:995px) {
    .header__box {
        display: none;
    }
}

/* Navegación tlf*/

.menu-container {
    position: absolute;
}

.menu-label {
    display: none;
}

.menu-label input[type="checkbox"] {
    display: none;
}


.hidden-buttons {
    display: none;
    margin-top: 10px;
}

.header__ul--tlf {
    width: 9.5rem;
    list-style: none;
    gap: 40px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 3px #aaa;
    z-index: 40;
}

.list__link--tlf {
    color: #fff;
    border-left: 3px solid transparent;
    transition: border 0.5s, color 0.3s;
}
.link--active-tlf {
    padding-left: 6px;
    border-left: 2px solid #6556b7;
    color: #6556b7;
}
.list__link--tlf:hover {
    padding-left: 6px;
    border-left: 2px solid #6556b7;
    color: #6556b7;
}


@media(max-width:995px) {
    .menu-container {
        position: absolute;
        padding: 15px 10px;
    }
    
    .menu-label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    
    .menu-label input[type="checkbox"] {
        display: none;
    }
    
    .icon-box {
        width: 1.5rem;
        color: #aaa;
        height: 1.60rem;
        border: 1px solid #fff;
        background-color: #222;
        border-radius: 4px;
        scale: 2;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        transition: all 0.3s;
        margin: 10px 10px;
    }
    
    .menu-label input[type="checkbox"]:checked + .icon-box {
        border-color: #6556b7;
    }
    
    .menu-label input[type="checkbox"]:checked + .icon-box i {
        color: white;
    }
    
    .hidden-buttons {
        display: none;
        margin-top: 10px;
    }
    
    .menu-label input[type="checkbox"]:checked ~ .hidden-buttons {
        position: absolute;
        top: 60px;
        left: 20px;
        display: flex;
        flex-flow: column wrap;
        scale: 1.2;
        z-index: 20;
    }
}

/* Contenido */

.home {
    padding-top: 9rem;
}

.services {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 60px;
}

.home .home__content h2 {
    width: 180px;
    color: #6556b7;
    font-size: 2.5rem;
    text-align: center;
    border-bottom: 2px solid #6556b7;
    border-radius: 8px;
    margin: auto;
    margin-top: 10px;
}

.services__content {
    display: flex;
    justify-content: center;
    width: 300px;
    background-color: #222;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 4px #aaa;
    margin-top: 60px;
    transition: box-shadow 0.5s;
}

.content__body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.img__creaper {
    width: 225px;
    padding-bottom: 6px;
    transition: transform 0.5s, filter 0.4s;
}

.img__web {
    width: 300px;
    scale: 0.8;
    transition: transform 0.5s, filter 0.4s;
}

.img__marketing {
    width: 225px;
    scale: 0.9;
    transition: transform 0.5s, filter 0.4s;

}
.text--web, .body__text {
    width: 200px;
    border-top: 1px solid #aaa;
    text-align: center;
}

.body__text h3{
    padding-top: 6.5px;
    font-size: 2rem;
}

.content--mc {
    animation: moveLeftRight 3s ease-in-out;
}

.content--web {
    animation: moveDownUp 3s ease-in-out;
}

.content--marketing {
    animation: moveRightLeft 3s ease-in-out;
}

@keyframes moveLeftRight {
    0% {
        transform: translateX(-450px);
    }
    50% {
        transform: translateX(0px);
    }
}

@keyframes moveDownUp {
    0% {
        transform: translateY(450px);
    }
    50% {
        transform: translateY(0px);
    }
}

@keyframes moveRightLeft {
    0% {
        transform: translateX(450px);
    }
    50% {
        transform: translateX(0px);
    }
}
.services__content:hover {
    box-shadow: 0 0 6px #6556b7;
}
.services__content:hover .img__creaper {
    transform: scale(1.1);
    filter: drop-shadow(
        0 0 3px #3a1
    );
}

.services__content:hover .img__web {
    transform: scale(1.1);
    filter: drop-shadow(
        0 0 3px #e1e1e1
    );
}

.services__content:hover .img__marketing {
    transform: scale(1.1);
    filter: drop-shadow(
        0 0 3px #48e
    );
}


@media(max-width:995px) {
    .services {
        gap: 10px;
    }
}
